In [1]:
from PyPDF2 import PdfReader

# Load the PDF file to read its metadata
pdf_path = 'credicorp.pdf'
reader = PdfReader(pdf_path)

# Extract metadata
metadata = reader.metadata

# Show the extracted metadata
metadata

{'/Author': 'Microsoft Office User',
 '/CreationDate': "D:20240129121859-04'00'",
 '/Creator': 'Adobe Illustrator 28.1 (Windows)',
 '/ModDate': "D:20240129124957-05'00'",
 '/Producer': 'Adobe PDF library 17.00',
 '/Title': 'Reporte Trimestral Asesoría 1Q2024 - Modificado final'}

In [5]:
import requests
import pandas as pd

# Ejemplo de URL para obtener datos del API del Banco Mundial
url = 'http://api.worldbank.org/v2/country/all/indicator/SP.POP.TOTL?format=json&date=2010:2018'

# Realiza la petición a la API
response = requests.get(url)

# Verifica que la petición fue exitosa
if response.status_code == 200:
    data = response.json()
    # Aquí puedes procesar los datos y, por ejemplo, convertirlos en un DataFrame de pandas
    # Ten en cuenta que necesitarás manejar la paginación si hay más de una página de resultados
else:
    print("Error al obtener los datos:", response.status_code)

In [14]:
data

[{'page': 1,
  'pages': 48,
  'per_page': 50,
  'total': 2394,
  'sourceid': '2',
  'lastupdated': '2024-03-28'},
 [{'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'},
   'countryiso3code': 'AFE',
   'date': '2018',
   'value': 649757148,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'},
   'countryiso3code': 'AFE',
   'date': '2017',
   'value': 632746570,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'},
   'countryiso3code': 'AFE',
   'date': '2016',
   'value': 616377605,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'},
   'countryiso3code': 'AFE',
   'date': '2015',
   'value': 600008424,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'},
   'countryiso3code': 'AFE',
   'date': '2014',
   'value': 583651101,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'},
   'countryiso3code': 'AFE',
   'date': '2013',
   'value': 567892149,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'},
   'countryiso3code': 'AFE',
   'date': '2012',
   'value': 552530654,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'},
   'countryiso3code': 'AFE',
   'date': '2011',
   'value': 537792950,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'},
   'countryiso3code': 'AFE',
   'date': '2010',
   'value': 523459657,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'ZI', 'value': 'Africa Western and Central'},
   'countryiso3code': 'AFW',
   'date': '2018',
   'value': 442646825,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'ZI', 'value': 'Africa Western and Central'},
   'countryiso3code': 'AFW',
   'date': '2017',
   'value': 431138704,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'ZI', 'value': 'Africa Western and Central'},
   'countryiso3code': 'AFW',
   'date': '2016',
   'value': 419778384,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'ZI', 'value': 'Africa Western and Central'},
   'countryiso3code': 'AFW',
   'date': '2015',
   'value': 408690375,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'ZI', 'value': 'Africa Western and Central'},
   'countryiso3code': 'AFW',
   'date': '2014',
   'value': 397855507,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'ZI', 'value': 'Africa Western and Central'},
   'countryiso3code': 'AFW',
   'date': '2013',
   'value': 387204553,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'ZI', 'value': 'Africa Western and Central'},
   'countryiso3code': 'AFW',
   'date': '2012',
   'value': 376797999,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'ZI', 'value': 'Africa Western and Central'},
   'countryiso3code': 'AFW',
   'date': '2011',
   'value': 366489204,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'ZI', 'value': 'Africa Western and Central'},
   'countryiso3code': 'AFW',
   'date': '2010',
   'value': 356337762,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': '1A', 'value': 'Arab World'},
   'countryiso3code': 'ARB',
   'date': '2018',
   'value': 432545676,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': '1A', 'value': 'Arab World'},
   'countryiso3code': 'ARB',
   'date': '2017',
   'value': 423664839,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': '1A', 'value': 'Arab World'},
   'countryiso3code': 'ARB',
   'date': '2016',
   'value': 415077960,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': '1A', 'value': 'Arab World'},
   'countryiso3code': 'ARB',
   'date': '2015',
   'value': 406501999,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': '1A', 'value': 'Arab World'},
   'countryiso3code': 'ARB',
   'date': '2014',
   'value': 397922915,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': '1A', 'value': 'Arab World'},
   'countryiso3code': 'ARB',
   'date': '2013',
   'value': 389131555,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': '1A', 'value': 'Arab World'},
   'countryiso3code': 'ARB',
   'date': '2012',
   'value': 380383408,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': '1A', 'value': 'Arab World'},
   'countryiso3code': 'ARB',
   'date': '2011',
   'value': 372351065,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': '1A', 'value': 'Arab World'},
   'countryiso3code': 'ARB',
   'date': '2010',
   'value': 364427661,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'S3', 'value': 'Caribbean small states'},
   'countryiso3code': 'CSS',
   'date': '2018',
   'value': 7374650,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'S3', 'value': 'Caribbean small states'},
   'countryiso3code': 'CSS',
   'date': '2017',
   'value': 7303634,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'S3', 'value': 'Caribbean small states'},
   'countryiso3code': 'CSS',
   'date': '2016',
   'value': 7265272,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'S3', 'value': 'Caribbean small states'},
   'countryiso3code': 'CSS',
   'date': '2015',
   'value': 7224602,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'S3', 'value': 'Caribbean small states'},
   'countryiso3code': 'CSS',
   'date': '2014',
   'value': 7181044,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'S3', 'value': 'Caribbean small states'},
   'countryiso3code': 'CSS',
   'date': '2013',
   'value': 7135884,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'S3', 'value': 'Caribbean small states'},
   'countryiso3code': 'CSS',
   'date': '2012',
   'value': 7088996,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'S3', 'value': 'Caribbean small states'},
   'countryiso3code': 'CSS',
   'date': '2011',
   'value': 7044357,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'S3', 'value': 'Caribbean small states'},
   'countryiso3code': 'CSS',
   'date': '2010',
   'value': 7004428,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'B8', 'value': 'Central Europe and the Baltics'},
   'countryiso3code': 'CEB',
   'date': '2018',
   'value': 102538451,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'B8', 'value': 'Central Europe and the Baltics'},
   'countryiso3code': 'CEB',
   'date': '2017',
   'value': 102740078,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'B8', 'value': 'Central Europe and the Baltics'},
   'countryiso3code': 'CEB',
   'date': '2016',
   'value': 102994278,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'B8', 'value': 'Central Europe and the Baltics'},
   'countryiso3code': 'CEB',
   'date': '2015',
   'value': 103257886,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'B8', 'value': 'Central Europe and the Baltics'},
   'countryiso3code': 'CEB',
   'date': '2014',
   'value': 103496179,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'B8', 'value': 'Central Europe and the Baltics'},
   'countryiso3code': 'CEB',
   'date': '2013',
   'value': 103713726,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'B8', 'value': 'Central Europe and the Baltics'},
   'countryiso3code': 'CEB',
   'date': '2012',
   'value': 103935318,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'B8', 'value': 'Central Europe and the Baltics'},
   'countryiso3code': 'CEB',
   'date': '2011',
   'value': 104174038,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'B8', 'value': 'Central Europe and the Baltics'},
   'countryiso3code': 'CEB',
   'date': '2010',
   'value': 104421447,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'V2', 'value': 'Early-demographic dividend'},
   'countryiso3code': 'EAR',
   'date': '2018',
   'value': 3292896609,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'V2', 'value': 'Early-demographic dividend'},
   'countryiso3code': 'EAR',
   'date': '2017',
   'value': 3250752755,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'V2', 'value': 'Early-demographic dividend'},
   'countryiso3code': 'EAR',
   'date': '2016',
   'value': 3208369547,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'V2', 'value': 'Early-demographic dividend'},
   'countryiso3code': 'EAR',
   'date': '2015',
   'value': 3165214886,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'V2', 'value': 'Early-demographic dividend'},
   'countryiso3code': 'EAR',
   'date': '2014',
   'value': 3121656203,
   'unit': '',
   'obs_status': '',
   'decimal': 0}]]

In [22]:
actual_data = data[1]  # si 'data' es la variable que tiene la lista principal

# Creamos un DataFrame directamente desde los datos
df = pd.DataFrame(actual_data)

# Luego, si es necesario, podemos aplanar los datos como se mostró anteriormente
for entry in actual_data:
    # Aplanamos los diccionarios anidados, si es necesario
    ...

# Finalmente, convertimos la lista actualizada en un DataFrame
df = pd.DataFrame(actual_data)
df

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2018,649757148,,,0
1,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2017,632746570,,,0
2,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2016,616377605,,,0
3,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2015,600008424,,,0
4,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2014,583651101,,,0
5,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2013,567892149,,,0
6,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2012,552530654,,,0
7,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2011,537792950,,,0
8,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2010,523459657,,,0
9,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'ZI', 'value': 'Africa Western and Cent...",AFW,2018,442646825,,,0
10,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'ZI', 'value': 'Africa Western and Cent...",AFW,2017,431138704,,,0
11,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'ZI', 'value': 'Africa Western and Cent...",AFW,2016,419778384,,,0
12,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'ZI', 'value': 'Africa Western and Cent...",AFW,2015,408690375,,,0
13,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'ZI', 'value': 'Africa Western and Cent...",AFW,2014,397855507,,,0
14,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'ZI', 'value': 'Africa Western and Cent...",AFW,2013,387204553,,,0
15,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'ZI', 'value': 'Africa Western and Cent...",AFW,2012,376797999,,,0
16,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'ZI', 'value': 'Africa Western and Cent...",AFW,2011,366489204,,,0
17,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'ZI', 'value': 'Africa Western and Cent...",AFW,2010,356337762,,,0
18,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': '1A', 'value': 'Arab World'}",ARB,2018,432545676,,,0
19,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': '1A', 'value': 'Arab World'}",ARB,2017,423664839,,,0
20,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': '1A', 'value': 'Arab World'}",ARB,2016,415077960,,,0
21,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': '1A', 'value': 'Arab World'}",ARB,2015,406501999,,,0
22,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': '1A', 'value': 'Arab World'}",ARB,2014,397922915,,,0
23,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': '1A', 'value': 'Arab World'}",ARB,2013,389131555,,,0
24,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': '1A', 'value': 'Arab World'}",ARB,2012,380383408,,,0
25,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': '1A', 'value': 'Arab World'}",ARB,2011,372351065,,,0
26,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': '1A', 'value': 'Arab World'}",ARB,2010,364427661,,,0
27,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'S3', 'value': 'Caribbean small states'}",CSS,2018,7374650,,,0
28,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'S3', 'value': 'Caribbean small states'}",CSS,2017,7303634,,,0
29,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'S3', 'value': 'Caribbean small states'}",CSS,2016,7265272,,,0
30,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'S3', 'value': 'Caribbean small states'}",CSS,2015,7224602,,,0
31,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'S3', 'value': 'Caribbean small states'}",CSS,2014,7181044,,,0
32,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'S3', 'value': 'Caribbean small states'}",CSS,2013,7135884,,,0
33,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'S3', 'value': 'Caribbean small states'}",CSS,2012,7088996,,,0
34,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'S3', 'value': 'Caribbean small states'}",CSS,2011,7044357,,,0
35,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'S3', 'value': 'Caribbean small states'}",CSS,2010,7004428,,,0
36,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'B8', 'value': 'Central Europe and the ...",CEB,2018,102538451,,,0
37,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'B8', 'value': 'Central Europe and the ...",CEB,2017,102740078,,,0
38,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'B8', 'value': 'Central Europe and the ...",CEB,2016,102994278,,,0
39,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'B8', 'value': 'Central Europe and the ...",CEB,2015,103257886,,,0
40,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'B8', 'value': 'Central Europe and the ...",CEB,2014,103496179,,,0
41,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'B8', 'value': 'Central Europe and the ...",CEB,2013,103713726,,,0
42,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'B8', 'value': 'Central Europe and the ...",CEB,2012,103935318,,,0
43,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'B8', 'value': 'Central Europe and the ...",CEB,2011,104174038,,,0
44,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'B8', 'value': 'Central Europe and the ...",CEB,2010,104421447,,,0
45,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'V2', 'value': 'Early-demographic divid...",EAR,2018,3292896609,,,0
46,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'V2', 'value': 'Early-demographic divid...",EAR,2017,3250752755,,,0
47,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'V2', 'value': 'Early-demographic divid...",EAR,2016,3208369547,,,0
48,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'V2', 'value': 'Early-demographic divid...",EAR,2015,3165214886,,,0
49,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'V2', 'value': 'Early-demographic divid...",EAR,2014,3121656203,,,0